{% extends 'loginbase.html' %}
{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 shadow-lg">
        <p class="mt-4 fs-4 fw-bold text-uppercase">Password change</span></p>
        <p>please enter your old password, for security's sake, and then enter your new password twice so we can verify
            you typed it in correctly.</p>
        {% if form.errors %}
        <p class="text-danger">Your passwords didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'password_change' %}" novalidate class="position-relative">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'new_password1' %}
                <div class="form-floating mb-3">
                    {{field}}
                    <label for="{{field.name}}">New password1</label>
                </div>
                <div class="invalid-feedback">
                    <span class="help small">{{field.errors}}</span>
                </div>
                {% elif field.name == 'new_password2' %}
                <div class="form-floating mb-3">
                    {{field}}
                    <label for="{{field.name}}">New password2</label>
                    
                </div>
                <div class="invalid-feedback">
                    <span class="help small">{{field.errors}}</span>
                </div>
                {% elif field.name == 'old_password' %}
                <div class="form-floating mb-3">
                    {{field}}
                    <label for="{{field.name}}">Old password1</label>
                </div>
                {% endif %}
            {% endfor %}
            <div class="d-grid gap-2">
                <input class="btn btn-lg btn-primary text-uppercase" type="submit" id="submit_btn"
                    value="Change my password">
            </div>
        </form>

    </div>

</div>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById("id_old_password").classList.add("form-control")
    document.getElementById("id_new_password1").classList.add("form-control")
    document.getElementById("id_new_password2").classList.add("form-control")
</script>
{% endblock %}