{% extends 'loginbase.html' %}
{% load i18n static ttags%}
{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 shadow-lg">
        <div class="d-grid gap-2">
          <p class="mt-4 fs-4 fw-bold text-uppercase">Password Reset Sent</p>
          <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p class="text-muted">
          <i class="bi bi-info-circle me-2 fs-7 text-primary"></i>
          If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
          </p>
         
          <a href="https://mail.google.com/" class="btn btn-lg btn-primary">Check your gmail</a>
        </div>
    </div>
</div>


{% endblock %}