
{% extends 'loginbase.html' %}
{% load i18n static ttags%}
{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 shadow-lg">
        <div class="d-grid gap-2">
            <p class="mt-4 fs-4 fw-bold text-uppercase">Password Reset Complete</p>
            <p>
                Your password has been set. You may go ahead
            </p>
            <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a>
          
        </div>
    </div>
</div>


{% endblock %}