<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Add Equipment </title>
	
	<!-- <link rel="stylesheet" media="all" href="{{page_url}}css/normal.css" type="text/css" /> -->
</head>
<body>
	<form method="POST" class="card p-5">
		{% csrf_token %}	
        <h2> equipment </h2>
        {% for data in equipment %}
			<div>{{data.label}}</div>
			<div>{{data}}</div>
		{% endfor %}
        <div class="my-4">
			<button class="btn btn-primary btn-block border-0" type="submit">Add Equipment</button>
		</div>
		
	</form>
</body>
</html>