<!-- <nav id="mobileMenu" class="col-md-2 col-lg-2 d-md-block sidenav collapse"  style="background-color: #151515;border-right: 1px solid #212529;">
   
</nav> -->


<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasbar" data-bs-backdrop="false" aria-labelledby="offcanvasExampleLabel" style="background-color: #31588a;border-right: 1px solid #355c8f;">
    <div class="offcanvas-header">
      <p class="offcanvas-title" id="offcanvasExampleLabel"><img src="{{page_kwargs.static_url}}Images/new.svg" width="150px" height="40px"></p>
      <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div> -->
    <!-- <div class="offcanvas-body">
            <div class="d-grid pb-5">
              <button type="button" class="btn btn-primary text-center btn-block btn-lg fs-6 text-nowrap small text-start py-2" data-bs-toggle="modal" data-bs-target="#AddStory">
                + &nbsp; New <b>iStory</b>
              </button>
              </div>
              <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-light active small {% if active == 'home' %}bg-dark {% endif %} d-flex align-items-center" aria-current="page" href="{% url 'home' %}">
                <img src="{{page_kwargs.static_url}}Images/home.svg" width="20px" class="me-4" alt="...">
                Home
              </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>ISTORIES</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link text-light small {% if active == 'new' %}bg-yellow {% endif %} d-flex align-items-center " href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#AddStory">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                New
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light small d-flex {% if active == 'published' %}bg-dark {% endif %} align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Published
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light small d-flex {% if active == 'completed' %}bg-dark {% endif %} align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Completed
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light small {% if active == 'recent' %}bg-dark {% endif %} d-flex align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Recent
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light small {% if active == 'drafts' %}bg-dark {% endif %} d-flex align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Drafts
            </a>
            </li>
        </ul>
      
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>LIBRARY</span>
            </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link text-light small {% if active == 'videos' %}bg-dark {% endif %} d-flex align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Videos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light small {% if active == 'images' %}bg-dark {% endif %} d-flex align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                Images
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light small {% if active == 'audios' %}bg-dark {% endif %} d-flex align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/music.svg" width="20px" class="me-4" alt="...">
                Audios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light small d-flex {% if active == 'icons' %}bg-dark {% endif %} align-items-center " href="#">
                <img src="{{page_kwargs.static_url}}Images/icon.svg" width="20px" class="me-4" alt="...">
                Icons
              </a>
            </li>
          </ul>
      
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>MY PROJECTS</span>
          </h6>
          <ul class="nav flex-column mb-2" id="id_project_side_menu">
            <li class="nav-item">
              <a class="nav-link text-light small d-flex align-items-center " href="javascript:void(0)" onclick="javascript:load_project_create_form()"  data-bs-toggle="modal" data-bs-target="#NewProject">
                <img src="{{page_kwargs.static_url}}Images/new.svg" width="20px" class="me-4" alt="...">
                New
              </a>
            </li>
            
          </ul>
      
    </div> -->
  <!-- </div> -->