<!-- Sidebar  -->
<nav id="sidebar" class="mt-0">
  <div class="sidebar-header">
    <img src="{{page_kwargs}}image/logo.png"  class="card-img-top" alt="Card image cap">
  </div>

  <ul class="list-unstyled components">
    <li>
      <a class="nav-link text-capitalize {% if active == 'home' %}active{% else %}text-light{% endif %}"
        aria-current="page" href="{% url 'home' %}">
        <!-- <i class="bi bi-plus-lg fs-7 fw-bold me-2 ms-2"></i> -->
        Home</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'banner_add' %}active{% else %}text-light {% endif %}"
        aria-current="page" href="{% url 'banner_add' %}"><i class="bi bi-images me-2 ms-2"></i>
        
        Add Banner</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'post' %}active{% else %}text-light {% endif %}"
        aria-current="page" href="{% url 'post' %}"><i class="bi bi-cursor me-2 ms-2"></i>
        
        Add Post</a>
    </li>

    <li>
      <a class="nav-link text-capitalize {% if active == 'gallery' %}active{% else %}text-light {% endif %}"
        aria-current="page" href="{% url 'gallery' %}"><i class="bi bi-clock fs-7 fw-bold me-2 ms-2"></i>
        
        Add Gallery</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'package' %}active{% else %}text-light{% endif %}"
        aria-current="page" href="{% url 'package' %}"><i class="bi bi-briefcase me-2 ms-2"></i>
        Add Package</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'events' %}active{% else %}text-light{% endif %}"
        aria-current="page" href="{% url 'events' %}"><i class="bi bi-calendar-event me-2 ms-2"></i>
        
        Add Events</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'equipment' %}active{% else %}text-light{% endif %}"
        aria-current="page" href="{% url 'equipment' %}"><i class="bi bi-camera me-2 ms-2"></i>
        Add Equipment</a>
    </li>
    <li>
      <p> Account</p>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'add_user' %}active {% else %}text-light {% endif %}"
        aria-current="page" href="{% url 'add_user' %}"><i class="bi bi-person-plus me-2 ms-2"></i>
        
        Add New User</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'password_reset' %}active{% else %}text-light{% endif %}"
        aria-current="page" href="{% url 'password_reset' %}"><i class="bi bi-eye  me-2 ms-2"></i>
        
        Password Reset</a>
    </li>
    <li>
      <a class="nav-link text-capitalize {% if active == 'logout' %}active {% else %}text-light {% endif %}"
        aria-current="page" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left me-2 ms-2"></i>
        
        Logout</a>
    </li>
  </ul>

</nav>