<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <i class="fas fa-align-left" id="sidebarCollapse">
            <img src="{{page_kwargs}}image/dashboard.svg" width="30" height="30" class="card-img-top"
                alt="Card image cap">
        </i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active px-3 text-uppercase" href="{% url 'about_us' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% if request.session.user_details.avatar %}{{request.session.user_details.avatar}}{% else %}{{page_kwargs}}image/user.svg{% endif %}" alt="mdo" width="30" height="30" class="border rounded-circle p-1">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end small rounded-0 p-0 fs-7 mt-4" aria-labelledby="userMenu">
                            <li class="border-bottom"><a class="dropdown-item small d-flex align-items-center" href="{% url 'edit_profile_settings' user.email %}"><i class="bi bi-gear me-2 fs-5"></i>Settings</a></li>
                            <li class=""><a class="dropdown-item small d-flex align-items-center" href="{% url 'logout' %}"><i class="bi bi-door-closed me-2 fs-5"></i>Sign Out</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- <div class="d-flex">
            <a href="#" class="d-block link-dark text-decoration-none">
                {% if request.session.user_details.avatar %}
                <img src="{{request.session.user_details.avatar}}" width="36" height="36" class="rounded-circle">
                {% else %}
                <img src="{{page_kwargs}}image/user.svg" class="img-fluid user-avatar user-avatar-md " width="36"
                    height="36">
                {% endif %}
            </a>
            <a href="{% url 'about_us' %}" class="text-decoration-none" style="text-align:justify">
                About
            </a>
        </div> -->
    </div>
</nav>