
{% extends 'base.html' %}
{% block title %} Create Banner {% endblock %}

{% block content %}
<div class="container h-100 mt-5 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 border">
        <p class="fs-4 fw-bold text-uppercase">Create new banner</p>
        <form method = "POST" enctype="multipart/form-data" accept="video/*">
            {% csrf_token %}
               {{form_data.as_p}}

            <button class="btn btn-primary btn-block border-0" type="submit">Add Banner</button>    
        </form>
    </div>

</div>
{% endblock %}