{% extends 'base.html' %}
{% load ttags%}
{% block title %} Package {% endblock %}
{% block sidebar %}{% include './includes/sidebar.html' with active="package" %}{% endblock %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 border">
        <p class="fs-4 fw-bold text-uppercase">Create new Event</p>
        <form method = "POST" enctype="multipart/form-data" accept="video/*">
            {% csrf_token %}
            {% for field in form %}
            {% if field.label == 'Images' %}
            <div class="mb-2">
                <label for="{{field.name}}" class="form-label">{{field.label_tag}}</label>
                {{field|addcss:'form-control'}}
            </div>
            {% else %}
            <div class="form-floating mb-2">
                {{field|addcss:'form-control'}}
                {{field.label_tag}}
            </div>
            {% endif %}
            {% for error in field.errors %}
            <div>
                <span class="help small text-danger">{{error}}</span>
            </div>
            {% endfor %}
            {% endfor %}
            <div class="text-end">
                <button class="btn btn-outline-primary">Cancel</button>
                <button class="btn btn-primary btn-block border-0" type="submit">Add Event</button>    
            </div>

        </form>
    </div>

</div>
{% endblock %}