
{% extends 'base.html' %}
{% block title %}Admin Panel {% endblock %}
{% block sidebar %}{% include './includes/sidebar.html' with active="home" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4 mb-0">
      <div class="card" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/bannerc.svg" width="80" height="80" class="card-img-top mt-3 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Banner</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{banner_count}}</p>
        </div>
      </div>
  </div>
  <div class="col-lg-4 mb-0">
      <div class="card" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
          <img src="{{page_kwargs}}image/packagec.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Total Package</h5>
            <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{package_count}}</p>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 mb-0">
      <div class="card" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
          <img src="{{page_kwargs}}image/postc.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Post</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{post_count}}</p>
        </div>
      </div>
  </div>
  <!-- {% for data in team_members %}
  {{data.user}}
  {{data.role}}
  {{data.designation}}
  {% endfor %} -->
  <div class="col-lg-4 mb-0">
      <div class="card" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
          <img src="{{page_kwargs}}image/usersc.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Total Users</h5>
            <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{user_count.count}}</p>
          </div>
      </div>
  </div>

  <div class="col-lg-4 mb-0">
      <div class="card text-center" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
          <img src="{{page_kwargs}}image/eventsc.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Total Events</h5>
            <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{event_count}}</p>
          </div>
      </div>
  </div>

  <div class="col-lg-4  mb-0 ">
    <div class="card text-center" style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/galleryc.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Gallery</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{gallery_count}}</p>
        </div>
    </div>
</div>
</div>
<!-- </div> -->
</div>
{% endblock %}
{% block body_js %}
{% include './Includes/home_script.html' %}
{% endblock %}