
{% extends 'base.html' %}
{% block title %}Admin Panel {% endblock %}
{% block content %}
<style>
  .card:hover{
    color: #3879c3 !important;
    transform:scale(0.9);
  }

  .hover-effect:hover {
    color: #393a3d !important;
  } 
  ::-webkit-scrollbar{
    display: none;
  }

</style>
<!-- Start Header-->
{% include './includes/header.html' %}
<div class="d-flex mt-5">
  <div class="flex-grow-0 mt-1 side_shadow" style="min-width:230px;">
    
    {% include './Includes/sidebar.html' with active='home' %}
    {% comment %}
    {% include './Includes/mobile_sidebar.html' with active='home' %}
    {% endcomment %}
    
  </div> 
  
  <div class="p-5 flex-grow-1">
    <!-- home sample -->
    <div class="d-grid text-center my-8 " style="font-size: 1.5em; ">
      <span class="fs-7 text-center text-info">Lights vision Photography.</span>
    </div>
    <p class="fs-7  mb-1 text-dark">Welcome  {{user}}</p>
    <p class="fs-7  mb-1 text-primary">Everything is going good</p>
    
    <div class="row">
      <!-- <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Today’s Bookings</p>
            <p class="fs-30 mb-2">4006</p>
            <p>10.00% (30 days)</p>
          </div>
        </div>
      </div> -->
      <div class="card col-sm-3 mb-4 " style=" box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/bannerc.svg" width="80" height="80" class="card-img-top mt-3 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Banner</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{banner_count}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <div class="card col-sm-3 mb-4 " style=" box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 12rem; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/galleryc1.svg" width="100" height="100" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Gallery</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{gallery_count}}</p>
        </div>
      </div>
      <div class="card col-sm-3 mb-4 " style="  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/packagec.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Package</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{package_count}}</p>
        </div>
      </div>
      <div class="card col-sm-3 mb-4 " style="  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:3em;margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/postc.svg" width="80" height="80" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Post</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{post_count}}</p>
        </div>
      </div>
      <div class="card col-sm-3 mb-4 " style=" box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 15rem; margin-right:3em; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/usersc.svg" width="100" height="100" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Users</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{user_count}}</p>
        </div>
      </div>

      <div class="card col-sm-3 mb-4 " style=" box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 18rem; margin-right:5%; margin-top: 5%; border: rgb(88, 157, 200);">
        <img src="{{page_kwargs}}image/eventsc.svg" width="100" height="100" class="card-img-top mt-3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Total Events</h5>
          <p class="card-text text-center fw-bolder" style="font-size: x-large;">{{event_count}}</p>
        </div>
      </div>
    </div>
    <!-- <div class="row justify-content-evenly mb-5 m-1 ">
      <div class="col-4 p-5 text-center card_hover">
        <img class="py-3" src="{{page_kwargs}}image/new.svg"  alt="Card image cap">
        <p class="fs-5 text-center fw-bold text-secondary mb-0">Create Stories</p>
        <p class="fs-7 text-center text-secondary">Construct, Test, and Publish your iStory from scratch or upload an existing file</p>
      </div>
      <div class="col-4 p-5 text-center card_hover">
        <img class="py-3" src="{{page_kwargs.static_url}}Images/props.svg"  alt="Card image cap">
        <p class="fs-5 text-center fw-bold text-secondary mb-0">Asset Library</p>
        <p class="fs-7 text-center text-secondary">Add your own images, videos, audio and icons to use for your iStory creation</p>
      </div>
      <div class="col-4 p-5 text-center card_hover">
        <img class="py-3" src="{{page_kwargs.static_url}}Images/documents.svg"  alt="Card image cap">
        <p class="fs-5 text-center fw-bold text-secondary mb-0">Manage your Projects</p>
        <p class="fs-7 text-center text-secondary">Organize your iStories by project name and share with your team</p>
      </div>
    </div> -->
    
  </div>
</div>
{% endblock %}
{% block body_js %}
{% include './Includes/home_script.html' %}
{% endblock %}