{% extends 'base.html' %}
{% include './includes/header.html' %}
{% block title %} Edit Package {% endblock %}
{% block content %}
<div class="container h-100 mt-5 d-flex justify-content-center">
    <div class="col-12 col-md-5 align-self-center text-start p-5 border">
        <p class="fs-4 fw-bold text-uppercase">Update package</p>
        <form method = "POST" enctype="multipart/form-data" accept="video/*">
            {% csrf_token %}
               {{package.as_p}}

            <button class="btn btn-primary btn-block border-0" type="submit">Update Package</button>    
        </form>
    </div>

</div>
{% endblock %}